@model Ingredient
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welcome</h1>
    <p class="text-dark-emphasis">
        Eat Smarter, Feel Better
        Discover how your nutrition stacks up and create meals tailored to your goals.
    </p>

</div>

<div class="container mt-4 text-center">
    <h5>Daily Recommened Intakes</h5>
    <p>See how common meals you eat compare!</p>
    <a asp-controller="MealPlanning" asp-action="Create" class="btn btn-primary">Get Started</a>
    <partial name="_nutrientPiePartial" model="@Model"></partial>
</div>



