@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light-emphasis" asp-area="" asp-controller="DiaryEntry" asp-action="Index">Diary Entry</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="MealPlanning" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                Meal
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="MealPlanning" asp-action="Planning">Plan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Graphing" asp-action="Index">Graph</a>
    </li>
    
    
</ul>