@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light-emphasis" asp-area="" asp-controller="DiaryEntry" asp-action="Index">Diary Entry</a>
            </li>
        } 
    }
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="MealPlanning" asp-action="">Plan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="MealPlanning" asp-action="">Graph</a>
    </li>
    
    
</ul>